{% extends 'flatpages/default.html' %}
{% load expletive_filters %}
{% block title %}
News
{% endblock title %}
{% block content %}
<hr />
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
<h2>Вот что нашли ({{ filter.qs | length }}):</h2>
<hr>
{% if filter.qs %}
<table>
    <tr>
        <td>
            <h3>Заголовок</h3>
        </td>
        <td>
            <h3>Категория</h3>
        </td>
        <td>
            <h3>Дата публикации</h3>
        </td>
        <td>
            <h3>Содержание</h3>
        </td>
    </tr>
    {% for new in filter.qs %}
    <tr>
        <td>
            <a href="{% url 'new_detail' new.id %}">{{ new.title | censor }}</a>
            <a href="{% url 'new_update' new.id %}"><u>Редактировать</u></a>

            <a href="{% url 'new_delete' new.id %}"><u> Удалить </u></a>
        </td>
        <td>
            {{ new.categorySort }}
        </td>
        <td>
            {{ new.dateCreation|date:'d M Y'}}
        </td>
        <td>
            {{ new.text | censor | truncatewords:50}}
        </td>
    </tr>
    {% endfor %}
</table>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href='?page=1&{{ get_copy.urlencode }}'>First</a>
            <a href='?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}'><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href='?page={{ num }}&{{ get_copy.urlencode }}'>{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href='?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}'>>>></a>
            <a href='?page={{ page_obj.paginator.num_pages }}&{{ get_copy.urlencode }}'>Last</a>
        {% endif %}
    {% endif %}
{% else %}
    <h2>Таких новостей нет!</h2>
{% endif %}
{% endblock content %}